# Build Folders
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/

# Rider
.idea/

# NuGet packages
*.nupkg
# Packages folder
packages/

# Logs
*.log

# Database
*.db

# Publish output
publish/

# Others
*.exe
*.dll
